<style>
.button {
    background-color: #CA0000;
    border: none;
    color: white;
    padding: 50px 225px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>