<h1>Howls Index</h1>
<ul>
  <% @howl.each do |h| %>

    <li><a href="/howls/<%= h.id %>"><%= h.text %></a></li>
  <% end %>
</ul>
<p><a href="/howls/new">New Howl</a></p>
<p><a href="/">Back Home</a></p>