<body>
	<div class= "container">
		<div class= "Howlr-Index-Button">
			<a href="/wolves">howlr</a>
		</div>
	</div>
<ul>
  <% @howl.each do |h| %>

    <li><a href="/howls/<%= h.id %>"><%= h.text %></a></li>
  <% end %>
</ul>
<p><a href="/howls/new">New Howl</a></p>
<p><a href="/">Back Home</a></p>