<h1>New Howl</h1>

<form action="/howls" method="post">
  <div> 
    What are you howling about?
    <input type="text" name="text" >
  </div>
  <div>
    

  <form action="/howls" method="post">
  <div> 
    Want to share a picture?
    <input type="text" name="img_url" >
  </div>
  <div>
    

  
  <form action="/wolves" method="post">
  <div> 
    Who's Howling?
    <input type="text" name="wolf_id" >
  </div>
  <div>
    
  <input type= "submit" value="Make a new Howl">

    
<p><a href="/howls">Back to Wolves</a></p>



<p><a href="/">Back Home</a></p>