<h1>New Howl</h1>

<form action="/howls" method="post">
  <div> 
    What are you howling about?
    <input type="text" name="text" >
  </div>
  <div>
    

  <form action="/howls" method="post">
  <div> 
    Want to share a picture?
    <input type="text" name="img_url" >
  </div>
  <div>
    

  
  <form action="/wolves" method="options">
  <div> 
    Who's Howling?
      <select name="wolf_id"> 
      <% @wolves.each do |w| %>
        <option value="<%= w.id %>"><%= w.name %></option>
      <% end %>

          
      </select>
  </div>
  <div>
    
  <input type= "submit" value="Howl!!!!">

    
<p><a href="/howls">Back</a></p>



<p><a href="/">Back Home</a></p>