<body>
	<div class= "container">
		<div class= "Howlr-Index-Button">
			<a href="/wolves">howlr</a>
		</div>
	</div>

<p><%= @howl.text %></p>
<p><%= @howl.wolf.name %></p>
<img src= " <%= @howl.img_url %>">





<p><a href="/howls">Back to all Howls</a></p>



<p><a href="/">Back Home</a></p>