<body>
  <div class= "container">
    <div class= "Howlr-Index-Button">
      <a href="/wolves">howlr</a>
    </div>
  </div>
<ul>
  <% @wolf.each do |w| %>

    <li><a href="/wolves/<%= w.id %>"><%= w.name %></a></li>
  <% end %>
</ul>
<p><a href="/wolves/new">Join the Pack</a></p>
<p><a href="/">Back Home</a></p>