<h1> Your Wolf </h1>

<p><%= @wolf.name %></p>
 <img src= " <%= @wolf.link %>">


<p><%= @wolf.description %></p>



<p><a href="/wolves">Back to all Wolves</a></p>



<p><a href="/">Back Home</a></p>