<h1> Your Wolf </h1>

<p><%= @wolf.name %></p>
<p><%= @wolf.link %></p>
<p><%= @wolf.description %></p>
<p><%= @wolf.howls %></p>



<p><a href="/wolves">Back to all Wolves</a></p>



<p><a href="/">Back Home</a></p>