<h1>New Wolf</h1>

<form action="/wolf" method="post">
  <div> 
    Wolf Name:
    <input type="text" name="name" >
  </div>
  <div>
    

  <form action="/wolves" method="post">
  <div> 
    Wolf Description:
    <input type="text" name="description" >
  </div>
  <div>
    

  
  <form action="/wolves" method="post">
  <div> 
    Wolf Picture:
    <input type="text" name="link" >
  </div>
  <div>
    
  <input type= "submit" value="Join the Packs">

    
<p><a href="/wolves">Join the Pack</a></p>



<p><a href="/">Back Home</a></p>